<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lss_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lss_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actecar.ProductosActivity"></activity>
        <activity android:name=".actecar.PagosActivity" />
        <activity android:name=".actecar.MapasActivity" />
        <activity android:name=".actecar.ListClienteActivity" />
        <activity android:name=".actecar.ClienteActivity" />
        <activity android:name=".actecar.ListActivity" />
        <activity android:name=".actecar.UserActivity" />
        <activity android:name=".actecar.MainActivity" />
        <activity
            android:name=".util.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actecar.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>